body{
    background-color: beige;
}
table{
    text-align: center;
    line-height: normal;
    border-width: 5px;
   margin-top: 100px;
   margin-left: 150px;
   font-size: 20px;
  
}
h1{
   font-weight: bold;
    text-decoration: underline;
    margin-top: 50px;
}
button{
    font-weight: bold;
    background-color: rgb(44.71% , 52.55% , 62.75%)
    
}
.User { 
     background-color:#9A6AA0
     

}
.name{
    background-color:#AEC3B0 ;
}
.name2{
    background-color: rgba(221, 156, 15, 0.76);
}
.Daniel{
    background-color: #F0A868;
}
